<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="vendor/autoload.php" 
          convertErrorsToExceptions="true"
         verbose="true"
         colors="true">
    <testsuites>
        <testsuite name="SlimX">
            <directory>tests/SlimX/SelfTests</directory>
        </testsuite>
    </testsuites>
    <filter>
      <whitelist processUncoveredFilesFromWhitelist="true">
        <directory suffix=".php">SlimX</directory>
      </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="results/coverage" 
             lowUpperBound="35" highLowerBound="70"/>
        <log type="coverage-clover" target="results/phpunit/clover.xml"/>
        <log type="junit" target="results/phpunit/junit.xml"/>
        <log type="testdox-html" target="results/phpunit/testdox.html"/>
    </logging>
</phpunit>
